
{% extends 'core/base.html' %}
{% load static %}
{% block menu %}
<li class="menu-item current-menu-item"><a href="{% url 'index' %}">Weather API</a></li>
<li class="menu-item"><a href="{% url 'ip' %}">IP Address API</a></li>
<li class="menu-item"><a href="{% url 'news' %}">News API</a></li>

{% endblock menu %}
{% block content %}
<!-- .site-header -->

			<div class="hero" data-bg-image="{% static 'core/images/weather.jpg'%}">
				<div class="container">
					<div class="border_top pt-3">
						{% if messages %}{% for message in messages %}
						<div class="alert alert-{{ message.tags }}">{{ message}}</div>
						{% endfor %}{% endif %}
						</div>

					<form action="." class="find-location" method="POST">
						{% csrf_token %}
						<input id="search" name="search" type="text" placeholder="Find your location weather...">
						<input type="submit" value="Find">
					</form>
				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">{{weather.city}}</div>
								<div class="degree">
									<div class="num">{{weather.temperature}}<sup>o</sup>C</div><br>
									<div class="forecast-icon">
										<img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png" alt="" width=90>
									</div>	
								</div>
								<span style="font-weight: 700;">{{weather.description}}</span>
								<span><img src="{% static 'core/images/icon-wind.png'%}" alt="">{{weather.wind}}km/h</span>
								<span><img src="{% static 'core/images/icon-compass.png'%}" alt="">{{weather.wind_deg}}°</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Your Current Time:</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<!--<div class="day"><iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:240px;height:25px;"src="https://www.clocklink.com/html5embed.php?clock=018&timezone=Algeria_Algiers&color=gray&size=240&Title=&Message=&Target=&From=2020,1,1,0,0,0&DateFormat=yyyy / mm / dd DDD&TimeFormat=hh:mm:ss TT&Color=gray"></iframe></div>-->

							</div>
						</div>	
					</div>
				</div>
			</div>
			
{% endblock content %}