{% extends 'core/base.html' %}
{% load static %}

{% block menu %}
<li class="menu-item "><a href="{% url 'index' %}">Weather API</a></li>
<li class="menu-item "><a href="{% url 'ip' %}">IP Address API</a></li>
<li class="menu-item"><a href="{% url 'news' %}">News API</a></li>
<li class="menu-item current-menu-item"><a href="{% url 'youtube' %}">Youtube API</a></li>

{% endblock menu %}

{% block content %}
<div class="hero" data-bg-image="{% static 'core/images/youtube.jpg'%}">
    <div class="container">
        <div class="border_top pt-3">
            {% if messages %}{% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message}}</div>
            {% endfor %}{% endif %}
        </div>

        <form action="." class="find-location" method="POST">
            {% csrf_token %}
            <input id="search" name="search" type="text" placeholder="search...">
            <input type="submit" value="Find">
        </form>
    </div>
</div>

<div class="fullwidth-block">
    <div class="container">

        <h1>Top Ratings:</h1>
        <hr><br>
        <div class="row">
            <div class="content col-md-7">

                <div class="post">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="360rem" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{video0.id}}" allowfullscreen></iframe>
                    </div>
                    <h2 class="entry-title">{{video0.title}}</h2>
                    <P>{{video0.description}}</P>
                    <p>{{video0.publishedAt}}</p>
                    <a href="https://www.youtube.com/watch?v={{video0.id}}" class="button">Watch</a>
                </div>

                <div class="post">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="360rem" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{video1.id}}" allowfullscreen></iframe>
                    </div>
                    <h2 class="entry-title">{{video1.title}}</h2>
                    <P>{{video1.description}}</P>
                    <p>{{video1.publishedAt}}</p>
                    <a href="https://www.youtube.com/watch?v={{video1.id}}" class="button">Watch</a>
                </div>

                <div class="post">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="360rem" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{video2.id}}" allowfullscreen></iframe>
                    </div>
                    <h2 class="entry-title">{{video2.title}}</h2>
                    <P>{{video2.description}}</P>
                    <p>{{video2.publishedAt}}</p>
                    <a href="https://www.youtube.com/watch?v={{video2.id}}" class="button">Watch</a>
                </div>


            </div>
            <div class="sidebar col-md-4 col-md-offset-1">

                <div class="widget">
                    <h3 class="widget-title">Related:</h3>

                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="180rem" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{video3.id}}" allowfullscreen></iframe>
                    </div><br>
                    <a href="https://www.youtube.com/watch?v={{video3.id}}">{{video3.title}}</a>
                    <hr>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="180rem" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{video4.id}}" allowfullscreen></iframe>
                    </div><br>
                    <a href="https://www.youtube.com/watch?v={{video4.id}}">{{video4.title}}</a>
                    <hr>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="180rem" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{video5.id}}" allowfullscreen></iframe>
                    </div><br>
                    <a href="https://www.youtube.com/watch?v={{video5.id}}">{{video5.title}}</a>
                    <hr>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="180rem" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{video6.id}}" allowfullscreen></iframe>
                    </div><br>
                    <a href="https://www.youtube.com/watch?v={{video6.id}}">{{video6.title}}</a>
                    <hr>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="180rem" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{video7.id}}" allowfullscreen></iframe>
                    </div><br>
                    <a href="https://www.youtube.com/watch?v={{video7.id}}">{{video7.title}}</a>
                    <hr>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="100%" height="180rem" class="embed-responsive-item"
                            src="https://www.youtube.com/embed/{{video8.id}}" allowfullscreen></iframe>
                    </div><br>
                    <a href="https://www.youtube.com/watch?v={{video8.id}}">{{video8.title}}</a>


                </div>

            </div>
        </div>
    </div>
</div>
</main> <!-- .main-content -->
{% endblock content %}